.tabs {
  position: relative;
  background: $color-blue-light;
}

.tabs:before,
.tabs:after {
  content: ' ';
  display: table;
}

.tabs:after {
  clear: both;
}

.tabs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__list-item {
  flex: 1;
  width: 100%;
  border: 0;
  padding: 20px;
  font: inherit;
  cursor: pointer;
  text-align: center;
  color: $color-white;
  background-color: $color-blue-dark;
  border-bottom: 4px solid $color-blue-dark;

  &:hover,
  &:focus {
    background-color: darken($color-blue-dark, 10%);
  }
}

.tabs__list-item.is-active {
  border-color: $color-blue-medium;
}

.tabs__panel {
  position: relative;
  padding: 40px;
  top: 0;
  left: 100%;
  width: 100%;
  margin-left: -100%;
  float: left;
}

.tabs__panel[aria-hidden='true'] {
  visibility: hidden;
}
