$wrapper-width: 700px;
$font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
$color-black: #000;
$color-white: #fff;
$color-blue-dark: #342BFF;
$color-blue-medium: #83A6FF;
$color-blue-light: #E5EDFF;
